

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Sri Lakshmi Enterprices</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/logo.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div  class="head_top">
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <img src="static/images/logo.png" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#"> Home  </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container">
                  <div class="row d_flex">
                     <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                        <div class="text-bg">
                           <h1>Sri<br> <span class="white1">Lakshmi Enterprices</span></h1>
                           <p>Manufacturer of Machiened Components, Rig Spares, High Precision H-Boring and Sheet Metal Fabricator</p>
                           <a href="#about">Read More</a>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-12-3">
                        <div class="text-img">
                           <!--  <figure><img src="static/images/box_img.png" alt="#"/></figure>  -->
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- blog_main -->
      <div id="about" class="blog_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Products</h2>
                     <span> Listed below are some of the products our company manufactures</span>
                  </div>
               </div>
            </div>
            <!-- fist section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box">
                     <div class="row d_flex">
                       
                           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_img">
                              <figure><img src="static/images/our_img3_2.png" alt="#"/></figure>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_text_box">
                              <h3 class="awesome pa_wi">Metal Fabrication</h3>
                              <p>We undertake all forms of metal fabrication and assembly orders. We are acknowledged for offering exceptional metal fabrication services to our esteemed clients. Our staffs have profound knowledge and expertise in meticulously designing from cost and performance point of view. We fabricate our array with the best quality raw materials and are high in performance.</p>
                              <div class="post_box padding_bottom1">
                                 
                                 <ul class="like">
                                    <li><img src="static/images/like.png" alt="#" onclick="this.src='static/images/like1.png'"/>Like</a></li>
                                    
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    <!-- end fist section -->
    <!-- secend section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="our_img">
                              <figure>
                                 <marquee behavior="scroll" direction="left" scrollamount="30" >
                                    <img class="he_img" src="static/images/our_img2.png" alt="#"/>
                                    <img class="he_img" src="static/images/our_img2_2.png" alt="#"/>
                                    <img class="he_img" src="static/images/our_img2_3.png" alt="#"/>
                                 </marquee>
                              </figure>
                           
                         
                           
                           </div>
                        
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end secend section -->

             <!-- three section -->
                     <div class="row">
                         <div class="col-md-6 padding_bottom2">
                           <div class="our_img">
                              <figure><img src="static/images/our_img3.png" alt="#"/></figure>
                           </div>
                           <div class="our_text_box three_box">
                              
                              
                              <div class="post_box d_flex padding_top3">
                                 <h3 class="awesome padding_flot">High Precision</h3>
                                 
                                 <ul class="like padding_left2">
                                    <li><img src="static/images/like.png" alt="#" onclick="this.src='static/images/like1.png'"/>Like</a></li>
                                    
                                 </ul>
                              </div>
                              <p>Our CNC machines are used to make high precision components to meet the quality standards of our customers </p>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="our_img">
                              <figure><img src="static/images/our_img4.png" alt="#"/></figure>
                           </div>
                           <div class="our_text_box three_box">
                             
                              
                              <div class="post_box d_flex padding_top3">
                                 <h3 class="awesome padding_flot">Best Quality</h3>
                                 
                                 <ul class="like padding_left2">
                                    <li><img src="static/images/like.png" alt="#" onclick="this.src='static/images/like1.png'"/>Like</a></li>
                                    
                                 </ul>
                              </div>
                              <p> The final products delivered to our clients are regorously ensured to be the best quality possible </p>
                           </div>
                        </div>
                     </div>
                 
     
    <!-- end three section -->
   
             <!-- for section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box magna_top90">
                     <div class="row d_flex">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_img">
                              <figure><img src="static/images/our_img1.png" alt="#"/></figure>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_text_box">
                              <h3 class="awesome pa_wi">Machined Components </h3>
                              
                              <p>We are backed by our vast industrial experience and expertise knowledge involved in offering Precision Machined Components.Our Precision Machined Components are available in different range, standards, sizes and dimensions as per the client’s specifications and requirements. </p>
                              <div class="post_box padding_bottom1">
                                 
                                 <ul class="like">
                                    <li><img src="static/images/like.png" alt="#" onclick="this.src='static/images/like1.png'"/>Like</a></li>
                                    
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    <!-- end for section -->


         </div>
      </div>
      <!-- end blog_main -->
    
      <!-- Testimonial -->
      <div class="section">
        
            <div id="" class="Testimonial">
                <div class="container">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <div class="titlepage">
                        <h2>Testimonial</h2>
                     </div>
                  </div>
               </div>
               <div class="row d_flex">
                  <div class="col-md-3">
                     <div class="Testimonial_box">
                        <i><img src="static/images/plan1.png" alt="#"/></i>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="Testimonial_box">
                        <h4>R NARAYANA REDDY</h4>
                        <p>We at Sri Lakshmi Enterprices have been in business for the past 30 years and are extremely proud to say as such. Just as it was in the past and will be in the future, our moto is to strive for excelence and accept nothing less. 
                        <br>
                        
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <!-- end Testimonial -->
      <!-- contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact us</h2>
                     <span> We would be glad to recieve your queries and answer them to the best of our abilities</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <form class="main_form ">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="form_contril" placeholder="Name" type="text" name="Name">
                        </div>
                        <div class="col-md-12">
                           <input class="form_contril" placeholder="Phone Number" type="text" name="PhoneNumber">
                        </div>
                        <div class="col-md-12">
                           <input class="form_contril" placeholder="Email" type="text" name="Email">
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="cont">
                        <h3> <strong class="multi"> Sri Lakshmi Enterprices</strong><br>
                           <a href="https://g.page/sri-lakshmi-enterprises-704/">opp. CSI church, Kammagondanahalli, Bangalore-15</a>
                        </h3>
                     </div>
                  </div>
            <!--  <div class="col-md-12">
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
                     </ul>
                  </div> -->
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 All Rights Reserved. Design by Yatish K V</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

